.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    > a {
      outline: 0;
      display: block;
      text-decoration: none;
      @include padding($small-spacing $small-spacing);
    }
  }
  @include media($desktop-width) {
    > li {
      display: inline-block;
    }
  }
}
